/* Navigation Start */
.navBar ul { //NESTING
    display: none;
    list-style-type: none;
     li {
        text-align: center;
    
    }
    a {
        padding: .6em;
        display: block;
        color: $textColor;
        text-decoration: none;
        font-size: 1em;
        &:hover {
            background-color: $textColor;
            color: $body-color;
        } 
    }



}



/* MOBILE NAVIGATION*/
/* the checkbox hack */
nav input[type=checkbox] {
    
    display: none;
}

nav input[type=checkbox]:checked ~ ul.menu {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showMenu {
    background-color: $body-color;
    text-align: center;
    padding: .25em;
    color: #fff;
    display: block;
    cursor: pointer;
}

.fa-hamburger {
   
    margin-left: .25em;
    font-size: 2em;
    float: right;
    color: $textColor;
}


/*END CHECKBOX HACK*/

/* LARGE SCREEN DISPLAY */
@media screen and (min-width: 600px) {



    /* Nav bar large */
    nav input[type=checkbox]:checked ~ ul.menu {
        /*  ~ general sibling combinator, in this instance it is looking for ul.menu (i.e. ul.menu is sibling of input) with input box checked*/
        display: flex;
        flex-direction: row;
    }

    nav li {
        border: none;
    }

    .navBar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-around;
        /* new*/
        align-items: center;
    }

    #navLogo {
       
        font-size: 2em;
        font-style: bold;
       
    }

    nav ul li {
        margin: 1px 5px 5px 1px;
    }

    .fa-hamburger {
        display: none;
    }




    .navBar .menu li {

        position: relative;
    }

    .menu li .submenu {
        position: absolute;
        display: none;

    }

    .menu li .submenu li a {
        color: #fff;
        font-size: .75em;
        &:hover {
            color: $textColor;
            background-color: $body-color;
        }
    }


    .menu li:hover ul {
        /** USE OF pseudo SELECTOR **/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
        z-index: 3;
        background-color: $textColor;
        color: $body-color;
        
       

    }
}
    /* End Nav Bar Large */
