
.navBar ul { //NESTING
    display: none;
    list-style-type: none;
     li {
        text-align: center;   
    }
    a {
        padding: .6em;
        display: block;
        color: $textColor;
        text-decoration: none;
        font-size: 1em;
        &:hover {
            background-color: $textColor;
            color: $body-color;
        } 
    }
    @include break(600px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
    }



}

#navLogo {
    @include break(600px, 996px) {
        display: none;
    }
    font-size: 2em;
    font-style: bold;
}
#navLogo2 {
    @include break(996px) {
        display: none;
    }
    @include break(0, 599px) {
        display: none;
    }
    font-size: 2em;
    font-style: bold;
}
   

/* MOBILE NAVIGATION*/
/* the checkbox hack */
nav input[type=checkbox] {
    
    display: none;
}

nav input[type=checkbox]:checked ~ ul.menu {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    @include break(600px) {
        display: flex;
        flex-direction: row;
    }
}

.showMenu {
    background-color: $body-color;
    text-align: center;
    padding: .25em;
    color: #fff;
    display: block;
    cursor: pointer;
}

.fa-hamburger {
   
    margin-left: .25em;
    font-size: 2em;
    float: right;
    color: $textColor;
    @include break(600px) {
        display: none;
    }
}

    nav li {
        border: none;
    }
    nav ul li {
        margin: 1px 5px 5px 1px;
    }
    
    .navBar .menu li {

        position: relative;
    }

    .menu li .submenu {
        position: absolute;
        @include break(600px) {
        display: none;
        }

        a {
            color: #fff;
        font-size: .75em;
        &:hover {
            color: $textColor;
            background-color: $body-color;
        }
        }
    }
    .menu li {
        &:hover {
            ul {
                @include break(996px) {
                    display: flex;
                    flex-direction: row;
                   // flex-wrap: nowrap; 
                    z-index: 3;
                    background-color: lighten($textColor, 5%); //USE OF BUILT IN
                    color: $body-color;  
                    }
            }
        }
    }
    

