

* {
   
    box-sizing: border-box;
}

body {
    
    color: $textColor;
    background-color: $body-color;
    font-family: $logoCodingFont;
   
    
}
.wrapper {
    margin: 0 auto;
    

       
}
img {
    width: 100%;
    
    height: auto;
}
header {
    text-align: center;
}

main  {
    
    h1, h4 {
        margin: 0;
        text-align: center;
    }
}

.Kitchen {
    font-family: $logoKitchenFont;
       color: $fontColor
}
.Coding {
    font-family: 'courier', sans-serif;
        color: $fontColor
}
/*.recipe {
    display: flex;
    
    ul, ol  {
        flex-direction: column;
    }
}
.recipePage {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: space-evenly;
        list-style-type: none;
        display: inline-grid;
        grid-gap: 5px;
        grid-template-columns: 33.3% 33.3% 33.4% ;
        grid-template-rows: 2fr;
        justify-items: center;
        list-style-type: none;
        align-items: center;
        
       

    }
    
*/   
    

section {
    display: flex;
    flex-direction: column; /*will display items as one big column*/
    /*align-items: stretch; default behavior, allows items to fill the available space */
}
section > article {
    padding: 0 50px;
   // box-sizing: border-box;
}
section article img {
    height: 5em;
    float: left;
    margin-right: 10px;
    border: solid 1px #fff;
}
section article h2 {
   
    font-family: $logoCodingFont;
    border-bottom: solid 1px $fontColor;
    color: $fontColor;
}
article p {
    margin: 0;
    font-size: .9em;
    line-height: 1.5;
}
@media screen and (min-width: 600px) {
    section {
        flex-direction: row;
        flex-flow: row wrap;
        flex-wrap: wrap; 
        max-width: 675px;
        justify-content: center;
        margin: auto;
    }
    section article {
        flex-basis: 16.6%;
        padding: 15px;
    }
    section article h2 {
        font-size: 1.2em;
    }
    section article img {
        float: none;
        height: 6em;
    }
}

@media screen and (min-width: 1037px) {
    section {
        max-width: inherit;
    }
}

