

* {
   
    box-sizing: border-box;
}

body {
    font-size: 1em;
    color: $textColor;
    background-color: $body-color;
    font-family: $logoCodingFont;
    padding: 5px 40px 40px 40px;
    
    
       
}

.wrapper {
   margin: 0 auto;
  
    
      
}

img {
    width: 100%;
    
    height: auto;
}
header {
    text-align: center;
   
}

main  {
   
    h1, h4 {
        margin: 0;
        text-align: center;
        padding: 10px;
        a{
            text-decoration: none;
            color: $textColor;
        }
    }
    article p span {
        font-weight: bold;
        font-style: italic;
    }
    
}

.Kitchen {
    font-family: $logoKitchenFont;
      
}
.Coding {
    font-family: 'courier', sans-serif;
        
}
footer {
    background-color: $textColor;
    color: $body-color;
    text-align: center;
    padding: 15px;
    clear: both;
}
    