@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700|Sacramento&display=swap');



$body-color:#ffd5d1;
$fontColor: #472a2f;
$textColor: #472a2f;
$logoKitchenFont: 'Sacramento';
$logoCodingFont: 'Fira Code';

$mobileScreen: 599px;
$midScreen: 900px;
